<h1>Go.</h1>

<div class="gsc__add_player_form">
	<h2>Add players and scores</h2>
	<input type="text" class="gsc__add_player_name">
	<button class="gsc__add_player">Add</button>
</div>

<div class="gsc__players">

	<h2>Players</h2>

	<div class="gsc__players_list">

	</div>

</div>